/* navbar */

html {
  background-color: whitesmoke;
  overflow-x: hidden;
  overflow-y: visible;
  scroll-behavior: smooth;
}

#mainHeader {
  font-family: cursive;
  letter-spacing: -5px;
  font-style: italic;
  font-size: 50px;
  margin: -10px -10px;
  padding-left: 10px;
  background-color: white;
}

.mainNav {
  margin-bottom: 50px;
  margin-top: -70px;
  font-size: 20px;
  text-align: center;
}

.navE {
  float: left;
  list-style-type: none;
  letter-spacing: normal;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

hr {
  margin-top: 75px !important;
  margin-left: -20px !important;
  color: black;
}

/* Home Page */

#abtBlock {
  padding: 10px 10px;
  text-align: center;
  position: absolute;
  width: 500px;
  left: 700px;
  border: 1px solid lightgray;
  background-color: white;
}

#abtPic {
  width: 300px;
  border: 1px solid black;
}

#abthr {
  margin-left: 0px !important;
  margin-top: 50px !important;
  margin-bottom: 25px !important;
}

main {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 700px -100px auto;
  padding: 20px 500px;
}

#BlogTitle {
  text-align: center;
  padding: 20px;
  background-color: white;
  margin: -25px -100px 75px -100px;
  font-family: Arial, Helvetica, sans-serif;
}

#introH2,
#RecentPosts {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#PostList {
  text-align: center;
  list-style: none;
}

.PostHref {
  color: blue;
}

.PostHref:hover {
  color: lightblue;
}

#PostsDesc {
  text-align: center;
}

/* Post Styling */

.BlogImg {
  border: 0px;
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

#postBlock {
  padding: 10px 10px;
  text-align: center;
  position: absolute;
  width: 1000px;
  left: 450px;
  border: 1px solid lightgray;
  background-color: white;
}

#posthr {
  margin-left: 0px !important;
  margin-top: 50px !important;
  margin-bottom: 25px !important;
}

#postSub {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
}

#Explanation,
#Unity,
#Skating,
#RA,
.blogParagraph {
  text-align: center;
}

.blogParagraph {
  margin: auto 200px;
}

.blogList {
  text-align: center;
  list-style: none;
}
